@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: white !important;
  }

  body {
    @apply text-gray-900 antialiased bg-white;
    background-color: white !important;
  }
  
  #root {
    background-color: white !important;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}